.background    { background: rgb(143, 226, 223);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(218, 63, 27); }
.wall          { background: rgb(216, 216, 216);   }
.floater       { background: black;   }

.actor  { position: absolute;  }
.coin   { background: rgb(207, 194, 38); }
.player { background: rgb(64, 64, 64); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(192, 39, 39);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
